* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.flex {
  display: flex;
}

.justify-space-between {
  justify-content: space-between;
}

.items-center {
  align-items: center;
}

.text-center {
  text-align: center;
}

.text-red {
  color: red;
}

.bolder {
  font-weight: bolder;
}

.m-auto {
  margin: auto;
}

.m-0 {
  margin: 0;
}

.mb-0 {
  margin-bottom: 0;
}

.mb-10 {
  margin-bottom: 10px;
}

.column {
  flex-direction: column;
}

.flex-end {
  align-items: flex-end;
}

.flex-1 {
  flex: 1;
}

.w-80 {
  width: 80%;
}

.bg-white {
  background: white;
}

.box-shadow {
  box-shadow: 0 4px 6px -1px rgba(0,0,0,0.1),0 2px 4px -1px rgba(0,0,0,0.06);
}

button:hover {
  opacity: 0.8;
  cursor: pointer;
  transition: cubic-bezier(0.075, 0.82, 0.165, 1);
}

input, textarea, select {
  border: 0;
  padding: 10px;
  border-radius: 4px;
  width: 100%;
}

input:focus, textarea:focus, select:focus {
  outline: none;
}